/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
Gemfile.lock
.byebug_history
/sandbox/**/*

roro/**/*.env
roro/**/*.key

*.key
*.env

tmp/*
!tmp/.keep 
sandbox/*
!sandbox/.keep 
sandbox/greenfield/*
!sandbox/greenfield/.keep