/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
Gemfile.lock
.byebug_history

roro/**/*.env
roro/**/*.key

*.key
*.env

tmp/*
!tmp/.gitkeep 
sandbox/*
!sandbox/.keep 
!sandbox/greenfield
sandbox/greenfield/*
!sandbox/greenfield/.keep