<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-6 is-offset-3">
            <h1 class="title">
              Login
            </h1>
            <div class="box">
              <label class="label">Email</label>
              <p class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="jsmith@example.org">
                <span class="icon is-small">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger">{{Error Message}}</span>
              </p>
              <label class="label">Password</label>
              <p class="control has-icon has-icon-right">
                <input class="input" type="password" placeholder="●●●●●●●">
                <span class="icon is-small">
                  <i class="fa fa-warning"></i>
                </span>
                <span class="help is-danger">{{Error Message}}</span>
              </p>
              <hr>
              <p class="control">
                <button class="button is-primary">Login</button>
                <button class="button is-default">Cancel</button>
              </p>
            </div>
            <p class="has-text-centered">
              <a href="register.html">Register an Account</a>
              | 
              <a href="#">Forgot password</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>