---
jobs:
- build
- test-adventures:
    requires: 
      - build
    filters:
      branches:
        only: 
        - adventures
    matrix:
      parameters:
        answers:
          - 1\n1
        os: [cimg-base]
