---
jobs:
- build
- build-roro-image
- test-adventures:
    requires: 
      - build-roro-image
    filters:
      branches:
        only: 
        - machine-ubuntu
    matrix:
      parameters:
        answers:
          - 1\n1
        os: [cimg-base]
