---
jobs:
- test-rubies:
    filters:
      branches:
        only: adventures
    matrix:
      parameters:
        version:
        - '3.0'
        - '2.5'
        - '2.6'
        - '2.7'
        - '3.0'
