# frozen_string_literal: true

require 'stack_test_helper'

describe '<%= @env[:adventure_title] %>' do
  Given(:workbench) {}
  
  Given do
    # debugger
  end

  Then { assert_correct_manifest(__dir__) }
end
