# frozen_string_literal: true

require 'stack_test_helper'

describe '<%= @env[:adventure_title] %>' do
  Given(:workbench) {}
  
  Given do
    #skip
    debuggerer
  end
#focus
  Then { assert_correct_manifest(__dir__) }
end
