<%= yaml_from_template("base/.circle_config/_version.yml") %>

<%= yaml_from_template("base/.circle_config/jobs/_build.yml") %>
  
  test:
    machine: true
    steps:
      - placeholder
 
<%= yaml_from_template("base/.circle_config/jobs/_release.yml") %>
      
<%= yaml_from_template("base/.circle_config/_workflow.yml") %>

<%= yaml_from_template("base/.circle_config/workflows/_build_release.yml") %>

  
