<%= yaml_from_template("base/.circleci/_defaults.yml") %>

<%= yaml_from_template("base/.circleci/jobs/_build.yml") %>
  
  test:
    machine: true
    steps:
      - placeholder
 
<%= yaml_from_template("base/.circleci/jobs/_release.yml") %>
      
<%= yaml_from_template("base/.circleci/_workflow.yml") %>

<%= yaml_from_template("base/.circleci/workflows/_build_release.yml") %>

  
