version: '<%= @env[:base][:docker_compose_version][:value] %>'

x-app:
  &app
  extends:
    file: mise/containers/app/common.yml
    service: app
  depends_on:
    - db
    - redis
  user: root
  volumes:
    - $PWD:/app
    - gem_cache:/usr/local/bundle/gems
    - node_modules:/app/node_modules
  tmpfs:
    - "/app/tmp"
    - "/app/log"
  stdin_open: true
  tty: true


services:
<%= section('services') %>

volumes:
<%= section('volumes') %>