include:
  - docker-compose.builders.yml  
  - docker-compose.development.yml  
  - docker-compose.vendor.yml
  - docker-compose.production.yml
  - docker-compose.test.yml  

volumes:
<%= section('docker_compose/volumes') %>

secrets:
  base_key: 
    file: ./mise/keys/base.key
  production_key: 
    file: ./mise/keys/production.key
