POSTGRES_USERNAME=<%= config['postgres_username'] %>
POSTGRES_PASSWORD=<%= config['postgres_password'] %>  
POSTGRES_DATABASE=<%= config['main_app_name'] + "_" + config['rails_env'] + "_db" %>
RAILS_ENV=<%= config['rails_env'] %>
