#!/bin/sh

export COMPOSE_PROFILES=development,test,setup

docker compose down

docker image rm -f $(docker images builder/*)
docker image rm -f $(docker images greenfield*)

docker system prune -f



