## chrome 
CHROME_URL=http://chrome:3333

## database 
DATABASE_URL="postgresql://postgres:password@db/<%= @env[:base][:app_name][:value] %>_test"

## rails 
RAILS_ENV=test
RAILS_SYSTEM_TESTING_SCREENSHOT=simple
RAILS_SYSTEM_TESTING_SCREENSHOT_HTML=1


