defaults: &defaults
  working_directory: /tmp

version: 2

jobs:

  build:
    machine: true
    steps:
      - checkout
      - run: gem install roro
      - run: roro expose circleci
      - run: docker-compose build
      - run: docker-compose run test 
      - run: echo 'source roro/containers/gem/ci.env' >> $BASH_ENV
      - run: gem install gem-release
      - run: gem release
