POSTGRES_USER=<%= config['postgres_user'] %>
POSTGRES_PASSWORD=<%= config['postgres_password'] %>
POSTGRES_DB=<%= config['app_name'] + "_" + config['rails_env'] %>
RAILS_ENV=<%= config['rails_env'] %>
